/*Appel d'un font spécifique lier à la charte graphique d'Astralium*/

@font-face {
  font-family: 'SirenikRegular';
  src: url('font/sirenik-regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SirenikItalic';
  src: url('font/sirenik-italic.otf') format('opentype');
  font-weight: normal;
  font-style: italic;
}

/*------------------------------ Responsive --------------------------*/
/*évolution de ma responsive pour qu'elle s'adapte a plus d'écrans possible on
 parle alors de mobile first */
/* mobile-first */

body {
  font-size: 16px;
  line-height: 24px; 
}

.container {
  width: 95%;
  margin: 0 auto;
  padding: 0 16px;
}

img,
table {
  max-width: 100%;
  height: auto;
  display: block; /* j'utilise block pour évité les espaces blancs sous les images */
}

h1 {
  font-size: 24px; 
}

.menu {
  display: flex;
  flex-direction: column;
}

.button {
  padding: 12px 20px;
  width: 100%;
  margin-bottom: 8px; 
  display: inline-block; 
}


/* --------------------------Small screen---------------------*/
@media screen and (min-width: 732px) {

  .container {
    width: 90%;
  }

  h1 .titre_boutique {
    display: flex;
    size: 6%;
  }
  
  h1 {
    font-size: 28px;
  }
  
  .menu {
    flex-direction: row;
    justify-content: space-between;
  }
  
  .button {
    width: auto;
    margin-right: 8px; 
  }
}

/* ------------------------------Medium screen-------------------*/
@media screen and (min-width: 768px) {

  .container {
    width: 85%;
    max-width: 1200px; 
  }
  
  h1 {
    font-size: 32px; 
  }

}

/* -------------------------------Large screen-----------------*/
@media screen and (min-width: 992px) { 
  
  h1 {
    font-size: 36px; 
  }
}

/* Variable pour avoir une cohérence */

:root {
  --font-size-base: 16px; 
  --spacing-unit: 16px;
  --container-width-small: 95%;
  --container-width-medium: 90%;
  --container-width-large: 85%;
}

/*------------------------------ header -----------------------------*/
.banniereHeader {
  position: relative;
  width: 100%;
}

/*------------------------------ header Drapeau----------------------*/
.drapeau {
  position: absolute;
  top: 0.625rem;
  left: 0.625rem; 
  display: flex;
  gap: 0.3125rem;
}

.banniere {
  width: 100%;
  display: block;
}

.drapeau-img {
  width: 1.875rem;
  height: auto;
}

/*------------------------------ header caddie------------------------------*/
.caddie {
  position: absolute;
  top: 0.625rem; 
  right: 0.625rem;
  display: flex;
  gap: 0.3125rem;
}

/*---------------------------barre de recherche bootstrap header -----------------*/

.form-inline {
  position: absolute;
  top: 6.5625rem;
  left: 0.625rem;
  display: flex;
  gap: 0.3125rem;
}

/*------------------------------ navbar header ou barre de navigation--------------------------------*/
/*création d'une class supplémentaire pour ajouter un effet ce style sur la Navbar*/

.custom-nav { 
  display: center;
  background-color: #dbecff;
  width: 100%;
  height: 3.125rem; 
  padding: 0 0.625rem; 
  border-radius: 3.125rem; 
  box-shadow: 0 0.625rem 0.625rem rgb(170, 177, 236); 
  margin-top: 0;
  margin-bottom: 1.875rem;
  overflow: hidden;
  overflow-x: auto;
  position: relative;
}

.nav-item {
  position: relative;
  height: 3.125rem; 
  color: #ffffff;
  margin-top: 0;
  justify-content: space-between;
}

/*------------------------------ Index --------------------------*/

.banniere-container {
  display: flex;
  justify-content: center;
}

.mb-4 { /* titre index */
  font-family: 'SirenikRegular', Arial, sans-serif;
  font-size: 4rem;
}

/*------------------------------ Boutique --------------------------*/
.boutique-container {
  display: flex;
  gap: 0.625rem;
  justify-content: space-around;
}

#card_boutique {
  display: flex;
  height: 5rem; 
  width: 2.5rem; 
  flex: 1 0 8.75rem; 
}

.titre_boutique {
  font-family: 'SirenikRegular', Arial, sans-serif;
  font-size: 4rem;
  color: #ffffff;
  margin: 0;
}

.font_titre {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #6e7dc2;
  width: 100%;
  height: 6rem;
  padding: 0 0.625rem;
  border-radius: 3.125rem;
  box-shadow: 0 0.625rem 0.625rem rgb(170, 172, 189);
  margin-top: 0rem;
  margin-bottom: 0rem;
  overflow: hidden;
  overflow-x: auto;
  position: relative;
}

/*----------------Portefolio-------------------*/
.titre_portefolio {
  display: flex;
  justify-content: center;
  font-family: 'SirenikRegular', Arial, sans-serif;
  font-size: 4rem;
}

.Calendrier_2025 {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /*permet d'avoir des colonne de 4 image*/
  gap: 20px;
}

/*----------------A propos-------------------*/
.titre_a_propos {
  display: flex;
  justify-content: center;
  font-family: 'SirenikRegular', Arial, sans-serif;
  font-size: 4rem;
}

.presentation {
  display: flex;
  align-items: center;
  gap: 1.25rem; 
}

.paragraphe {
  margin: 0;
  margin-bottom: 31.25rem;
}

.photo_marion {
  margin: 2rem;
}

/*----------------blog -------------------*/
.titre_blog {
  display: flex;
  justify-content: center;
  font-family: 'SirenikRegular', Arial, sans-serif;
  font-size: 4rem;
}

/*--------------------------- Footer --------------------------*/
#rectangle {
  width: 100%;
  height: 18.75rem;
  background: rgba(219, 236, 255, 255);
}

.titre_reseaux {
  display: flex;
  position: absolute;
  right: 23.125rem; 
  margin-top: 1.875rem;
}

.reseaux-container {
  display: flex;
  right: 1.875rem; 
  position: absolute;
  margin-top: 4.375rem; 
  margin-right: 3.125rem;
  width: 25%;
}

.icone {
  display: flex;
  justify-content: space-between;
  gap: 1.25rem; 
  margin-top: 0.625rem; 
}

.mentions-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  margin-left: 32.5rem; 
  margin-top: 1.875rem;
  cursor: pointer;
}

.barre_vertical01 {
  display: flex;
  right: 31.25rem;
  position: absolute;
  margin-top: 0.625rem; 
  height: 18.125rem; 
  padding-right: 12.5rem;
  border-right: 1px solid rgb(0, 0, 0);
}

.barre_vertical02 {
  display: flex;
  left: 18.75rem;
  position: absolute;
  margin-top: 0.625rem;
  height: 18.125rem;
  padding-right: 12.5rem;
  border-right: 1px solid rgb(0, 0, 0);
}

.logoAstra {
  display: flex;
  position: absolute;
  justify-content: center;
  margin-top: 1.875rem; 
  left: 11.875rem;
}

.newsletter {
  display: flex;
  position: absolute;
  justify-content: center;
  margin-top: 9.375rem; 
  left: 8.125rem; 
}

.button {
  display: flex;
  position: absolute;
  justify-content: center;
  margin-top: 12.5rem; 
  left: 10.625rem; 
  border: 0;
  line-height: 2.5;
  padding: 0 1.25rem;
  font-size: 1rem; 
  text-align: center;
  color: #fff;
  text-shadow: 0.0625rem 0.0625rem 0.0625rem #000; 
  border-radius: 0.625rem; 
  background-color: rgb(56, 93, 148);
  background-image: linear-gradient(to top left,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2) 30%,
      rgba(0, 0, 0, 0));
  box-shadow:
    inset 0.125rem 0.125rem 0.1875rem rgba(255, 255, 255, 0.6), 
    inset -0.125rem -0.125rem 0.1875rem rgba(0, 0, 0, 0.6);
}

.button:hover {
  background-color: rgb(92, 110, 190);
}

.button:active {
  box-shadow:
    inset -0.125rem -0.125rem 0.1875rem rgba(255, 255, 255, 0.6),
    inset 0.125rem 0.125rem 0.1875rem rgba(0, 0, 0, 0.6);
}

/*--------------------- MODALE --------------------*/

/*--------------------- CGV --------------------*/
.cgv {
  display: flex;
  justify-content: center
}

.text_cgv {
  display: flex;
  justify-content: center
}
/*----------------Mention Légale -----------------*/
.ml {
  display: flex;
  justify-content: center
}

.text_ml {
  display: flex;
  justify-content: center
}